doctype html
html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="icon" type="image/png" href="files/img/favicon.png")
		link(rel="stylesheet" href="files/main.min.css")
		title Geo request

	body
		.wrapper
			#map

		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="files/main.min.js")